<%- include('partials/header2', { firstName: firstName }) %>
<link rel="stylesheet" href="./css/article.css" />
<div class="home-section">
  <div class="home-container">
    <div class="header">
      <img src="images/library.jpeg" alt="" />
      <p class="heading">NewsPapers and Articles</p>
    </div>

    <div class="articles">
      <div class="article">
        <a href="/article1">
          <p class="name">Family Relation and Well Being</p>
          <img src="images/article1.png" alt="" />
          <p>Author:Patricia A Thomas</p>
        </a>
      </div>
      <div class="article">
        <a href="/article2">
            <p class="name">Quality of family Relations</p>
            <img src="images/article2.png" alt="" />
            <p>Author:Sulaiman Olanrewaju Adebayo</p>
        </a>
      </div>
      <div class="article">
        <p class="name">What Is a Family and Why Does It Matter?</p>
        <img src="images/article3.png" alt="" />
        <p>Author:Esther Dermott</p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
