<%- include('partials/header2', { firstName: firstName }) %>
<link rel="stylesheet" href="./css/article.css" />
<div class="home-section">
  <div class="home-container">
    <p class="p-name">Family Relation and Well Being</p>
    <p class="paragraph">
      A life course perspective draws attention to the importance of linked
      lives, or interdependence within relationships, across the life course
      (Elder, Johnson, & Crosnoe, 2003). Family members are linked in important
      ways through each stage of life, and these relationships are an important
      source of social connection and social inuence for individuals throughout
      their lives (Umberson, Crosnoe, & Reczek, 2010). Substantial evidence
      consistently shows that social relationships can profoundly inuence
      well-being across the life course (Umberson & Montez, 2010). Family
      connec-tions can provide a greater sense of meaning and purpose as well as
      social and tangible resources that benet well-being (Hartwell & Benson,
      2007; Kawachi & Berkman, 2001).The quality of family relationships,
      including social sup-port (e.g., providing love, advice, and care) and
      strain (e.g., arguments, being critical, making too many demands), can
      inuence well-being through psychosocial, behavioral, and physiological
      pathways. Stressors and social support are core components of stress
      process theory (Pearlin, 1999), which argues that stress can undermine
      mental health while social support may serve as a protective resource.
      Prior studies clearly show that stress undermines health and well-being
      (Thoits, 2010), and strains in relationships with family members are an
      especially salient type of stress. Social support may provide a resource
      for coping that dulls the detrimental impact of stressors on well-being
      (Thoits, 2010), and support may also promote well-being through increased
      self-esteem, which involves more positive views of oneself (Fukukawa
      etal., 2000). Those receiving support from their family members may feel
      a greater sense of self-worth, and this enhanced self-esteem may be a
      psychological resource, encouraging optimism, positive affect, and better
      mental health (Symister & Friend, 2003). Family members may also regulate
      each other’s behaviors (i.e., social control) and provide information and
      encouragement to behave in healthier ways and to more effectively utilize
      health care services (Cohen, 2004; Reczek, Thomeer, Lodge, Umberson, &
      Underhill, 2014), but stress in relationships may also lead to
      health-compromising behaviors as coping mechanisms to deal with stress (Ng
      & Jeffery, 2003). The stress of relation-ship strain can result in
      physiological processes that impair immune function, affect the
      cardiovascular system, and increase risk for depression (Graham,
      Christian, & Kiecolt-Glaser, 2006; Kiecolt-Glaser & Newton, 2001), whereas
      positive relationships are associated with lower allostatic load (i.e.,
      “wear and tear” on the body accumulating from stress) (Seeman, Singer,
      Ryff, Love, & Levy-Storms, 2002). Clearly, the quality of family
      relationships can have consid-erable consequences for well-being.
      A life course perspective has posited marital relationships as one of the
      most important relationships that dene lifeontext and in turn affect
      individuals’ well-being through-out adulthood (Umberson & Montez, 2010).
      <br>
      Being married, especially happily married, is associated with better
      mental and physical health (Carr & Springer, 2010; Umberson, Williams, &
      Thomeer, 2013), and the strength of the mari-tal effect on health is
      comparable to that of other tradi-tional risk factors such as smoking and
      obesity (Sbarra, 2009). Although some studies emphasize the possibility of
      selection effects, suggesting that individuals in better health are more
      likely to be married (Lipowicz, 2014), most researchers emphasize two
      theoretical models to explain why marital relationships shape well-being:
      the marital resource model and the stress model (Waite & Gallager, 2000;
      Williams & Umberson, 2004). The marital resource model suggests that
      marriage promotes well-being through increased access to economic, social,
      and health-promoting resources (Rendall, Weden, Favreault, & Waldron,
      2011; Umberson et al., 2013). The stress model suggests that negative
      aspects of marital relationships such as marital strain and marital
      dissolutions create stress and undermine well-being (Williams & Umberson,
      2004), whereas positive aspects of marital relationships may prompt social
      support, enhance self-esteem, and promote healthier behaviors in general
      and in coping with stress (Reczek, Thomeer, etal., 2014; Symister &
      Friend, 2003; Waite & Gallager, 2000). Marital relationships also tend to
      become more salient with advancing age, as other social relationships such
      as those with family members, friends, and neighbors are often lost due to
      geographic relocation and death in the later part of the life course (Liu
      & Waite, 2014).Married people, on average, enjoy better mental health,
      physical health, and longer life expectancy than divorced/separated,
      widowed, and never-married people (Hughes & Waite, 2009; Simon, 2002),
      although the health gap between the married and never married has
      decreased in the past few decades (Liu & Umberson, 2008). Moreover,
      marital links to well-being depend on the quality of the relationship;
      those in distressed marriages are more likely to report depressive
      symptoms and poorer health than those in happy marriages (Donoho,
      Crimmins, & Seeman, 2013; Liu & Waite, 2014; Umberson, Williams, Powers,
      Liu, & Needham, 2006), whereas a happy marriage may buffer the effects of
      stress via greater access to emotional support (Williams, 2003). Anumber
      of studies suggest that the negative aspects of close relationships have a
      stronger impact on well-being than the positive aspects of relation-ships
      (e.g., Rook, 2014), and past research shows that the impact of marital
      strain on health increases with advancing age (Liu & Waite, 2014; Umberson
      etal., 2006).Prior studies suggest that marital transitions, either into
      or out of marriage, shape life context and affect well-being (Williams &
      Umberson, 2004). National longitudinal stud-ies provide evidence that past
      experiences of divorce and widowhood are associated with increased risk of
      heart disease in later life especially among women, irrespective of
      current marital status (Zhang & Hayward, 2006), andlonger duration of
      divorce or widowhood is associated with a greater number of chronic
      conditions and mobil-ity limitations (Hughes & Waite, 2009; Lorenz,
      Wickrama, Conger, & Elder, 2006) but only short-term declines in mental
      health (Lee & Demaris, 2007). On the other hand, entry into marriages,
      especially rst marriages, improves psychological well-being and decreases
      depression (Frech & Williams, 2007; Musick & Bumpass, 2012), although the
      benets of remarriage may not be as large as those that accompany a rst
      marriage (Hughes & Waite, 2009). Taken together, these studies show the
      importance of understand-ing the lifelong cumulative impact of marital
      status and marital transitions.
    </p>
  </div>
</div>

<%- include('partials/footer') %>
