<%- include('partials/header2', { firstName: firstName }) %>
<link rel="stylesheet" href="./css/article.css" />
<div class="home-section">
  <div class="home-container">
    <p class="p-name">Quality of family relation</p>
    <p class="paragraph">
      The family has always been regarded as the bedrock of thesociety since
      each individual of the human race is a productof the family. It may be
      inferred that good products from thefamily make good societies while bad
      products make badones. This suffice that, most of the social problems
      besettingthe modern society are due to maladaptive socializationprocess of
      the family. Thus, building healthy families is asine qua non to building
      good societies.Research has indicated that healthy family life is
      dependenton the quality of family relationships or attachments
      (Fahey,Keilthy & Polek 2012). Healthy family relationships bringabout
      trust and respect which is then reflected in warmth,love, affection,
      support and cares received by each familymember (Australian Early
      Childhood Mental Health Initiative,2008). The quality of family
      relationships in terms ofconnectedness between parents, parents and
      children, andamong children themselves has major impacts on the livesof
      each person in the family (Brown 2010; McLanahan, &Sandefur, 1994; Acock
      and Demo, 1994).
      <br />
      structure is somehow regarded as a major predictorof family relationships,
      even though this is scarcely reportedor investigated in research
      literature. In particular, childrenfrom intact family structure (that is,
      families in which bothbiological parents are married and living together)
      have beenfound to report higher levels of family attachments, whichserve
      as deterrent to illicit drug use in comparison to childrenfrom non intact
      family structure (that is, step or single parentand divorce families)
      (Sokol-Katz, Dunham, andZimmerman, 1997). The study of Sokol-Katz, Dunham,
      andZimmerman, (1997) inherently suggests that theoretically,family
      structure may not have direct effect on child outcome,but probably
      mediated by family relationships. That is,variations in family structures
      may account for differencesin family relationships which eventually
      determines to childoutcomes. This means that, it is possibly through
      quality offamily relationships or bonding that family structuresinfluence
      child outcomes. Hence, children who are productsof good family
      relationships are expected to be wellpsychologically adjusted and have
      better developmentaloutcomes in comparison to those who have poor
      familyrelationships. These differences, perhaps, is an aftermathof the
      attention, care and support received by children fromwell adjusted or
      intact families as against the non intactfamily characterized by
      maladjustments.Even though past research has shown that relationshipexists
      between family structure and child outcomes,whereby adolescents from
      non-intact families werebehaviorally deficient as compared to adolescents
      fromintact families (e.g. Schneider, Atteberry, and Owens, 2005;Needle,
      Su, & Doherty 1990, Reichman, Teitler, Garfinkel& McLanahan, 2001), what
      remains to be examined is thedetermination of the mechanism by which
      family structureinfluences child outcomes.
      <br />
      Thus, the present studytheoretically conceives that, the major pathway by
      whichfamily structures may perhaps influence child outcome isthrough
      quality of family relationships. It is expected that iffamily structure
      influences quality of family relationships,then assumptions could be made
      that family relationship isa possible mediator or moderator of the nexus
      betweenfamily structure and child outcomes. Hence, it is importantto
      establish the influence of family structure on
      familyrelationships.According to the gender role theory, being a
      biological maleor female comes with some expected societal or
      culturalbehavioral expectations. Failure to show these expectedbehavioral
      patterns may not only result into cognitivedissonance for people but pose
      potential chaos in socialinteraction. For example, in many cultures, the
      man is strictlyexpected to be the bread-winner whiles the woman a
      homekeeper; the female child is expected to assist in the kitchenwhile the
      male child should engage in animal hunting; men2are entitled to
      inheritance while women are not; men are expected to be strong-willed
      while women are expected tobe feeble-minded.
    </p>
  </div>
</div>

<%- include('partials/footer') %>
