<%- include('partials/header2', { firstName: firstName }) %>
<link rel="stylesheet" href="./css/article.css" />
<div class="home-section">
  <div class="home-container">
    <div class="articles">
      <div class="article">
        <p class="name">How to create a tree</p>
        <video width="320" height="240" controls>
          <source src="./video/video.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
