<%- include('partials/header2', { firstName: firstName }) %>
<div class="view-details">
  <form action="/profile" method="GET">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input
        type="text"
        placeholder="First Name"
        name="firstName"
        class="firstName"
        value="<%= firstName %>" readonly
      />
    </div>
    <div class="form-group">
      <label for="firstname">Last Name:</label>
      <input
        type="text"
        placeholder="Last Name"
        name="lastName"
        class="lastName"
        value="<%= lastName %>" readonly
      />
    </div>
  </form>
</div>
