@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* Styles for the header and navigation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #22A699;
  --primary-color: #1f4fc9;
  --primary-color-shade: #2049ad;
  --bg-white: #ffffff;
  --font-white: #ffffff;
  --bg-black: #252323;
  --font-black: #252323;
  --light-gray: #f5f5f5;
  --footer-color: #FFC26F;
  --text-color-gray: rgb(139, 139, 139);
}

.margin {
  margin-top: 100px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */

.navbar {
  background-color: var(--bg-white);
  font-weight: bold;
  padding: 12px;
}

/* sticky navbar */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#navbar.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  margin-right: 20px;
}

.logo-img {
  width: 100px;
  height: 100%;
}

.nav-link {
  color: var(--font-black);
  width: 150px;
  height: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.nav-link:hover {
  background-color: var(--bg-white);
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-center {
  margin-right: 400px;
}

.dropdown-item:hover {
  background-color: var(--light-gray);
}

.logout {
  outline: none;
  border: none;
  background-color: var(--bg-gray);
  margin-left: 20px;
}

header {
  margin-bottom: 100px;
}


/* HOME PAGE */

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.home-container {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/* LEFT SIDE */

.left-home-side {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.update-profile,
.share-tree,
.view-tree,
.request-tree-connection {
  width: 100%;
  height: 300px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-color: var(--light-gray);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.update-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 5px;
}

.update-profile .avatar,
.update-profile .update-content {
  width: 30%;
  height: 100%;
  background-color: var(--bg-white);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 100px;
  height: 100px;
}

.update-profile .update-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.heading {
  font-size: 25px;
  font-weight: 600;
}

.update-content button,
.person-search button {
  background-color: var(--primary-color);
  outline: none !important;
  border: none !important;
  padding: 1rem;
  color: var(--font-white);
  font-size: 15px;
  border-radius: 0.5rem;
}

.update-content button:hover,
.person-search button:hover {
  background-color: var(--primary-color-shade);
}

.view-tree-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.view-tree .view-tree-content,
.request-tree-connection .view-timeline {
  width: 100%;
  background-color: var(--bg-white);
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.share-tree {
  height: 200px;
  padding: 0.5rem;
}

.share-tree .share {
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.share button {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 10px;
  background-color: var(--bg-white);
  outline: none;
}

.right-home-side {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.person-search,
.quick-search {
  width: 100%;
  height: 520px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-color: var(--light-gray);
  border-radius: 0.5rem;
}

.person-search form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  gap: 20px;
}

.person-search p {
  text-align: center;
}

.person-search .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.person-search input,
.person-search button {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 0.5px solid var(--text-color-gray);
  border-radius: 3px;
  outline: none;
}

.quick-search {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.quick-search-ul {
  background-color: var(--bg-white);
  border-radius: 0.5rem;
}

.quick-search-ul ul {
  list-style: none;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

a {
  color: var(--font-black);
  text-decoration: none;
}

/* Responsive Code */

/* Medium */
@media (width<992px) {
  .avatar img {
    width: 80px;
    height: 80px;
  }

  .heading {
    font-size: 20px;
  }
}

/* Small */
@media (width<768px) {}

/* Extra small */
@media (width<576px) {}

/* Highly Extra small */
@media (width<480px) {}