@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* Styles for the header and navigation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #22A699;
  --primary-color: #1f4fc9;
  --primary-color-shade: #2049ad;
  --bg-white: #ffffff;
  --font-white: #ffffff;
  --bg-black: #252323;
  --font-black: #252323;
  --light-gray: #f5f5f5;
  --footer-color: #FFC26F;
  --text-color-gray: rgb(139, 139, 139);
}

.margin {
  margin-top: 100px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */

.navbar {
  background-color: var(--bg-white);
  font-weight: bold;
  padding: 12px;
}

/* sticky navbar */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#navbar.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  margin-right: 20px;
}

.logo-img {
  width: 100px;
  height: 100%;
}

.nav-link {
  color: var(--font-black);
  width: 100px;
  height: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.getStartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 250px;
  background-color: var(--primary-color);
  color: var(--font-white);
  margin-left: 30px;
  padding: 8px 5px 8px;
  border-radius: 6px;
  font-weight: 500;
}

.getStartBtn:hover {
  background-color: var(--primary-color-shade);
}

header {
  margin-bottom: 100px;
}

/* CONTENT SECTION */

.left-content-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.content {
  width: 40%;
}

.content-heading {
  font-size: 40px;
  font-weight: 600;
}

.content-p {
  color: var(--text-color-gray);
  text-align: justify;
}

.image {
  background-color: var(--light-gray);
  width: 600px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.content button {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 20px;
  background-color: var(--primary-color);
  color: var(--font-white);
  outline: none;
  border: none;
}

.content button:hover {
  background-color: var(--primary-color-shade);
}

.timeline {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: var(--text-color-gray);
  color: var(--font-white);
  border-radius: 0px 6px 6px 0px;
}

/* CARD CONTAINER */
.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 40px;
}

.card {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: var(--light-gray);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.25rem;
  padding: 1rem;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#main-card {
  transform: translateY(80px) !important;
}

#sub-card {
  transform: translateY(40px);
  gap: 80px;
}

#ssub-card {
  gap: 15px;
}

.d-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}

.card.show {
  transform: none;
  opacity: 1;
}

.card img {
  width: 150px;
  height: 150px;
}

.card p {
  font-size: 20px;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: var(--font-white);
}

/* Responsive Code */

/* Medium */
@media (width<992px) {
  .content {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-content-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-content-div .image {
    width: 80%;
  }

  .content-heading {
    font-size: 35px;
    font-weight: 600;
  }

  .content-p {
    font-size: 20px;
    text-align: center;
  }

  .content button,
  .timeline {
    width: 400px;
  }

  #sub-card {
    transform: translateY(40px);
    gap: 60px;
  }

  #ssub-card {
    gap: 10px;
  }

  .card {
    width: 180px
  }

}

/* Small */
@media (width<768px) {

  .content button,
  .timeline {
    width: 300px;
  }

  .card {
    width: 120px;
    height: 250px;
  }

  .card img {
    width: 100px;
    height: 100px;
  }

  .card p {
    text-align: center;
  }
}

/* Extra small */
@media (width<576px) {

  .content button,
  .timeline {
    width: 250px;
  }

  .card {
    width: 100px;
    height: 200px;
  }

  .card img {
    width: 80px;
    height: 80px;
  }

  .card p {
    font-size: 15px;
  }
}

/* Highly Extra small */
@media (width<480px) {

  .content-p,
  .content button,
  .timeline {
    font-size: 15px;
  }

  .card {
    width: 80px;
  }
}