@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* Styles for the header and navigation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #22A699;
  --primary-color: #1f4fc9;
  --primary-color-shade: #2049ad;
  --bg-white: #ffffff;
  --font-white: #ffffff;
  --bg-black: #252323;
  --font-black: #252323;
  --light-gray: #f5f5f5;
  --text-color-gray: rgb(139, 139, 139);
  --footer-links-color: #ffdc00;
}

.margin {
  margin-top: 100px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */

.navbar {
  font-weight: bold;
  padding: 8px;
}

/* sticky navbar */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar-brand {
  font-size: 1.5rem;
  margin-right: 20px;
}

.logo-img {
  width: 100px;
  height: 100%;
}

.nav-link {
  color: var(--font-black);
  width: 100px;
  height: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.getStartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 250px;
  background-color: var(--primary-color);
  color: var(--font-white);
  margin-left: 30px;
  padding: 8px 5px 8px;
  border-radius: 6px;
  font-weight: 500;
}

.getStartBtn:hover {
  background-color: var(--primary-color-shade);
  color: var(--font-white);
}

header {
  margin-bottom: 100px;
}
