/* HOME PAGE */

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.home-container {
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.top-home-side {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* TOP SIDE */

.wrapper-home {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left-home-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.update-profile,
.share-tree,
.view-tree,
.request-tree-connection {
  width: 100%;
  height: 300px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-color: var(--light-gray);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.update-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 5px;
}

.update-profile .avatar,
.update-profile .update-content {
  width: 30%;
  height: 100%;
  background-color: var(--bg-white);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 100px;
  height: 100px;
}

.update-profile .update-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.heading {
  font-size: 25px;
  font-weight: 600;
}

.update-content button,
.person-search button {
  background-color: var(--primary-color);
  outline: none !important;
  border: none !important;
  padding: 1rem;
  color: var(--font-white);
  font-size: 15px;
  border-radius: 0.5rem;
}

.update-content button:hover,
.person-search button:hover {
  background-color: var(--primary-color-shade);
}

.share-tree {
  height: 200px;
  padding: 0.5rem;
}

.share-tree .share {
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.share button {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 10px;
  background-color: var(--bg-white);
  outline: none;
}

.person-search,
.quick-search {
  width: 35%;
  height: 530px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-color: var(--light-gray);
  border-radius: 0.5rem;
}

.person-search form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  gap: 20px;
}

.person-search p {
  text-align: center;
}

.person-search .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.person-search input,
.person-search button {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 0.5px solid var(--text-color-gray);
  border-radius: 3px;
  outline: none;
}

/* BOTTOM SIDE */

.bottom-wrapper,
.view-tree-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.view-tree-container {
  width: 65%;
  height: 300px;
  justify-content: center;
  gap: 20px;
}

.view-tree .view-tree-content,
.request-tree-connection .view-timeline {
  width: 100%;
  background-color: var(--bg-white);
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quick-search {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.quick-search-ul {
  background-color: var(--bg-white);
  border-radius: 0.5rem;
}

.quick-search-ul ul {
  list-style: none;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

a {
  color: var(--font-black);
  text-decoration: none;
}

/* Responsive Code */

/* Medium */
@media (width<992px) {
  .avatar img {
    width: 80px;
    height: 80px;
  }

  .heading {
    font-size: 20px;
  }
}

/* Small */
@media (width<768px) {
  .bottom-home-side {
    width: 100%;
  }

  .top-home-side {
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
  }

  .wrapper-home,
  .person-search {
    width: 80%;
  }

  .quick-search {
    width: 80%;
    padding: 0.5rem;
  }

  .bottom-wrapper {
    flex-direction: column;
    align-items: center;

  }

  .view-tree-container {
    width: 80%;
    flex-direction: column;
    margin-bottom: 150px;
  }

  .quick-search-ul {
    width: 100%;
    height: 100%;
  }

  .head-para {
    font-size: 100%;
    text-align: justify;
  }
}

/* Extra small */
@media (width<576px) {}

/* Highly Extra small */
@media (width<480px) {
  .share button {
    height: 100%;
    background-color: none;
  }

  .update-content button {
    padding: 0.5rem;
  }

  .wrapper-home,
  .person-search {
    width: 90%;
  }

  .quick-search,
  .view-tree-container {
    width: 90%;
  }

  .heading {
    font-size: 18px;
  }

  .head-para {
    font-size: 15px;
  }

}